<div>
	<h4>Learn and Apply Angular Theory</h4>
	<p>
	This site is implemented by using AngularJS, HTML(5), CSS(3), and BootStrap.<br>
	The whole content is copy from <a href="http://docs.angularjs.org/" target="_blank">docs.angularjs.org</a>.<br><br>
	
	The concept is to redesign and implement the same content as original web site for the main purposes of:
	</p>
	<ul>
		<li>learn the concept and basic of AngularJS</li>
		<li>learn how to use AngularJS with HTML(5), CSS(3), and BootStrap</li>
	</ul>
	
	<br>
	<h4>References</h4>
	<ul>
		<li>Browse from <a href="http://docs.angularjs.org/api" target="_blank">Angular API</a></li>
		<li>Browse from <a href="http://docs.angularjs.org/guide/controller" target="_blank">Angular Controller</a></li>
		<li>Browse from <a href="http://kirkbushell.me/when-to-use-directives-controllers-or-services-in-angular/" target="_blank">Directive, Controller, Service</a></li>
	</ul>
</div>